body {
  background-color: #eeeeee;
 /* background-image: linear-gradient(to bottom, #00BC7E, #108775);*/
}
.avatar{
  border-radius: 50%;
  width:60px;
  height:60px;
}
.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

@media (min-width: 992px) {
  .gedf-main {
      padding-left: 4rem;
      padding-right: 4rem;
  }
  .gedf-card {
      margin-bottom: 2.77rem;
  }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}


/*
    Login CSS
*/

@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
      margin-left: 25%;
  }
}

.omb_login .omb_authTitle {
  text-align: center;
line-height: 300%;
}

.omb_login .omb_socialButtons a {
color: white; 
opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
  color: white;
opacity:1;    	
}


.omb_login .omb_loginOr {
position: relative;
font-size: 1.5em;
color: #aaa;
margin-top: 1em;
margin-bottom: 1em;
padding-top: 0.5em;
padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
background-color: #cdcdcd;
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
display: block;
position: absolute;
left: 50%;
top: -0.6em;
margin-left: -1.5em;
background-color: white;
width: 3em;
text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}

.input-group{
  margin-bottom: 10px;
}
.form-inline{
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
      text-align: right;
  margin-top:10px;
 }		
}

/* profile.hbs */
.main-breadcrumb {
  background-color: white;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
	width:100%;
    background: #ffffff;
    color: #2e323c;
	margin-bottom: 10px;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

/* .card-footer{
  margin-bottom: 20px;
} */

/* temp */
/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: #2F4960;
	background-image: linear-gradient(to bottom right, #2F4960 10%, #102040);
} */

.app {
  font-family: 'Fira sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
   background-image: linear-gradient(to bottom, #108775, #108775);
}

.home {
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-color: #ffffff;
	border-radius: 16px;
	text-align: center;
}

.form_Login {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-image: linear-gradient(to bottom, #00BC7E, #108775);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

.form_Login h1 {
	color: #FFF;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.err-msg {
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	color: red;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.succ-msg{
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	color: green;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.form_Login .form-group {
	margin-bottom: 30px;
}

.form_Login label {
	display: block;
	color:#eee;
	font-size: 14px;
	margin-bottom: 5px;
}

.form_Login input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.form_Login input:not([type="submit"]) {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

.form_Login input:not([type="submit"])::placeholder {
	color: #CCC;
}

.form_Login input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.form_Login input[type="submit"] {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}
/* ----------------------- */

.google_btn input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.google_btn input:not([type="submit"]) {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

.google_btn input:not([type="submit"])::placeholder {
	color: #CCC;
}

.google_btn input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.google_btn input[type="submit"] {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

/* table create account */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td, th {

  text-align: left;
  padding: 8px;
}

.table-layout{
	background-color: green;
	text-align: center;
}

