<div class="container">
	<div class="omb_login">
		<h3 class="omb_authTitle">Create Account</h3>
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<form class="omb_loginForm" autocomplete="off" method="POST" onsubmit="return validateForm();">
					<div class="input-group">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email">
					</div>
					<div class="input-group">
						<input type="text" class="form-control" name="username" id="username" placeholder="Username">
					</div>
					<div class="input-group">
						<input type="password" class="form-control" name="password" id="password"
							placeholder="Password">
					</div>
					<div class="input-group">
						<input type="password" class="form-control" name="passwordConfirm"
							placeholder="Confirm Password">
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
				</form>
			</div>
		</div>

	</div>

</div>